---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
---

<Layout title="Contact me">
	<main class="min-h-screen w-full flex flex-col  items-center">
		<Navbar after='' before='skills' actual='contact me'/>
		<p class="my-8 mx-16 text-white text-xl">
            Ready to connect and talk about exciting projects? Messaging me is free! 
            Whether you have ideas, questions, or just want to chat, feel free to send me a message!
        </p>

	</main>
</Layout>
