---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
import { projects } from '../data/projects';
import Card from '../components/Card.astro';
---

<Layout title="Contact me">
	<main class="min-h-screen w-full flex flex-col  items-center">
		<Navbar after='' before='skills' actual='contact me'/>
		<p>
            
        </p>
	</main>
</Layout>
