---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro'
import Navigation from '../components/Navigation.astro'
---

<Layout title="Leslie's Portfolio">
	<main class="h-min-screen w-min-screen grid place-content-center">
		<section>
			<Hero/>
			<!-- Navigation/-->

		</section>
	</main>
</Layout>
