---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'

---

<Layout title="Projects">
	<main class="min-h-screen w-full flex justify-center">
		<Navbar after='skills' before='' actual='projects'/>
	</main>
</Layout>
