---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Skills">
    <main class="min-h-screen w-full flex flex-col  items-center">
		<Navbar after='contact' before='projects' actual='skills'/>
		
	</main>
</Layout>